
.body{
    padding: 0;
    margin: 0;
}

.slide7{
    background-color: #fbf6f0;
}
.header{
    text-align: center;
    color: #c9ab81;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    
}

.header h1{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin: 30px 250px 0px 250px ;
}

.left{
    flex: 45%;
    margin: 20px 0px 20px 0px;
    padding-right: 50px;
    color: #7a7a7a;
    font-family: sans-serif;
}

.left .tieude p{
    font-size: 20px;
    font-weight: bolder;
    
 
}

.right{
    flex: 55%;
}

.right img{
width: 100%;
height: 100%;
}
.haha{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding: 10px;
}
.hihi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

}